
header, h1, h2, div {
    text-align: center;
}
#search-options, #js-one-movie-results, #js-similar-movie-results, #one-movie-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
aside {
    flex-wrap: wrap;
    width: 30%;
    flex-shrink: 1;
    justify-content: space-around;
}
button {
    margin-bottom: 50px;
    font-size: 20px;
}
.hidden {
    display: none;
}
/* ************************ MAIN SCREEN ****************************** */

/* show two search options*/
#one-movie-search, #similar-movies-search {
    display: none;
}
#js-one-movie-results, #js-similar-movie-results {
    
}
/* ************************ SEARCH ONE MOVIE SCREEN *******************************/
#js-one-movie-results {
    /* display: inline-block */
}

/* ************************ SEARCH SIMILAR MOVIES SCREEN    *******************************/
#js-similar-movie-results {
    /* display: inline-block */
}



#error-messages, #search-error-message {
    color: red;
    display: none;
}
/* ************************ BREAKPOINTS   *******************************/
/* ************************ MOBILE   *******************************/
@media only screen and (max-width: 320px) {

}